electron/node_modules/
electron/dist/
dist/
/electron/dist-fontsize
/electron/dist-latest
/electron/dist-syncfix
/electron/dist*/
/electron/renderer/bitmap-subtitles.js
/electron/renderer/ass-subtitles.js
/electron/renderer/jassub-worker.js
/electron/renderer/libbitsub_bg.wasm
